<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/anagram" method="post">
            <input type="text" name="">
            <input type="text" name="">
        </form>
        <ul>
            <p>WOAH</p>
            @foreach (var list in Model)
            {
                @foreach (var item in @list)
                {
                    <li>@item</li>
                }
            }
        </ul>
    </body>
</html>
